:root {
    --accent-color: #2196F3;
    --logo-color: #000000;
    --title-color: #FFFFFF;
    --desk-color: #757575;
    --color: #212121;
    --background-color1: #F5F4FA;
    --background-color: #2F303A;
}
/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

}

img {
    display: block;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;   
}

/* Хеадер та футер */

header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-span1 {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.logo-span2 {
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.header-nav {
    color: var(--color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-nav:hover {
    color: var(--accent-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-roster-item {
    color: var(--desk-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-roster-item:hover {
    color: var(--accent-color);
}

.footer {
    background-color: var(--background-color);
}

.footer-addres {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}

.footer-link {
    color: var(--desk-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}

/* Головна */

.decision {
    background-color: var(--background-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.decision-title {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.decision-btn {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88; /* 187.5% */
    letter-spacing: 0.96px;
    
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px 0px;
}

.we-title {
    color: var(--color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.we-subtitle {
    color: var(--desk-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}

.make-title {
    color: var(--color);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;    
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
}

.make-img {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}

.team-title {
    color: var(--color);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;    
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
}

.team-img {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
}

.team-heading {
    color: var(--color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.48px;
}

.team-text {
    color: #757575;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.48px;
}

/* Портфоліо */

.btn-btn:hover {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: #2196F3;

    /* shadow-middle */
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12); 
}

.btn-btn {
    color: var(--color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px;

    border-radius: 4px;
    background: #F5F4FA;
}

.goods-title {
    color: var(--desk-color);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 2; /* 200% */
    letter-spacing: 1.08px;
}

.goods-caption {
    color: var(--color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
    letter-spacing: 0.48px;
}

.goods-text {
    color: var(--desk-color);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
    letter-spacing: 0.48px;
}

.goods-img {
    width: 370px;
    height: 294px;
    flex-shrink: 0;

    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}